# Python

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment

venv/
.env

# Jupyter

.ipynb_checkpoints/

# VS Code

.vscode/

# PyCharm

.idea/

# Cache

*.pickle

# Compressed files

*.zip

# Deep Learning Models

*.h5
*.keras

# Dataset

dataset/

# OS Files

.DS_Store
Thumbs.db
